.develop {
  // @media screen and (max-width: 1199px) {
  //   display: none;
  // }

  // display: flex;
  // gap: 30px;

  &__work {
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white);
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 0;
  }
  &__thumb {
    position: relative;
  }

  &__item {
    position: relative;
  }
}
.section-develop {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-bottom: 94px;
}

// .section-develop .section__heading {
//   @media screen and (max-width: 1199px) {
//     display: none;
//   }
// }
