.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    padding: 16px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
}
