.peculiarities {
    display: flex;
    gap: 30px; 
    /* padding-top: 94px; */
  
  &__box{
    width: 270px;
    height: 120px;
    
  
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  &__title{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  
    color: var(--primary-text-color);
  }
  
  &__subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
}